@use 'vars';

.gallery {
	display: flex;
	direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flext-start;
	color: vars.$fontColor;
	background-color: vars.$bgColor;
}

h1 {
	font-family: Lato, sans-serif;
}